<app-add-todo-form 
    (newTodoEvent)="addTodo($event)"
></app-add-todo-form>
<style>
    .rangeRight{
        margin-right: 10px;
    }
    .rangeLeft{
        margin-left: 10px;
    }
</style>
<ol *ngFor="let todo of todos let i=index;" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-3 me-auto" *ngIf="!todo.status">
            <div class="content {{(todo.completed ? 'done' : '')}}" >
                {{i+1}}. {{todo.content}}
            </div>
        </div>
        <div *ngIf="!todo.status">
            <button class="btn btn-warning btn-sm completed rangeRight" (click)="toggleDone(i)">
                <i class="bi bi-check-circle"></i>
            </button>
            <button class="btn btn-danger btn-sm rangeRight" (click)="deleteTodo(i)">
                <i class="bi bi-trash-fill"></i>
            </button>
            <button class="btn btn-primary justify-content-between btn-sm" (click)="editTodo(i)">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
        <!-- <form [formGroup]="form.inputData" (ngSubmit)="editTodo(i)"> -->
            <div *ngIf="todo.status">
                <div class="ms-3 me-auto">
                    <div class="content">
                        <input type="text" name="inputTodo" [(ngModel)] = todo.content>
                        <button class="btn btn-success btn-sm completed rangeLeft" type="submit" (click)="editTodo(i)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <span *ngIf="form.errors?.inputTodo?.required" style="color: red;">Todo list cannot be empty</span>
            <span *ngIf="form.errors?.inputTodo?.minlength" style="color: red;">
                Todo list should have a minimum of {{ form.errors?.inputTodo?.minlength?.requiredLength }} character(s).
            </span> -->
        <!-- </form> -->
    </li>
</ol>